@mixin box-sizing($value) {
  -moz-box-sizing: $value;
  -webkit-box-sizing: $value;
  box-sizing: $value;
}

.widget-dashboard-recipes {

  // Button hover effect;
  .btn-hover {
    &:hover {
      background-color: #DC143C;
      color: #FFFFFF;
    }
  }

  // Table of recipe names.
  .tbl {
    border: solid 1px #CCCCCC;
    display: flex;
    flex-flow: column nowrap;
  }

  // Single row of recipes.
  .tbl-row {

    padding: 0;
    text-align: center;
    &:not(:last-child) {border-bottom: solid 1px #CCCCCC;}
    a {
      margin: 10px 0 10px 0;
      display: block;
    }
  }

  // Container of Previous/Next buttons
  .container-prev-next {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: solid 1px #CCCCCC;
    border-top: none;

    // Buttons.
    .btn {
      border: none;
      font-size: 1em;
      padding: 10px 0 10px 0;
      text-align: center;
      margin: 0;
      flex-grow: 1;
      &:not(:last-child) {border-right: solid 1px #CCCCCC;}
    }

  }
}
