.widget-dashboardrecipes {

  // Spacing between sections.
  & > div:not(:last-child) {
    margin-bottom: 20px;
  }

  // List of recipes.
  .container-recipelist {
    border: solid 1px #CCCCCC;

    // Remove bottom border from last recipe in list.
    .recipe:not(:last-child) { border-bottom: solid 1px #CCCCCC; };

    // Make entire area clickable.
    a {
      display: block;
      padding: 10px;
    }
  }

  // Inline button controls.
  .container-inline-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 4px;

    // Button size and spacing.
    .btn {
      flex: 1 0 auto;
      &:first-child { margin-left: 0px; }
      &:last-child { margin-right: 0px; }
    }
  }

/*
  // List of recent recipes.
  .container-recent-recipes {

    // Surrounding border.
    border: solid 1px #CCCCCC;

    // Individual recipe.
    .recipe {
      // Show bottom border for all recipes, except for the last one.
      &:not(:last-child) { border-bottom: solid 1px #CCCCCC; }

      // Make entire link area clickable.
      a {
        display: block;
        padding: 10px;
      }
    }
  }

  // Pagination controls.
  .container-inline-buttons {
    margin-top: 5px;
    button, div {
      flex-grow: 1;
      &:nth-child(1) { margin-left: 0; }
      &:nth-child(3) { margin-right: 0; }
    }

  }
*/
}
