$navbar-bgcolor: #DC143C;
$accent-color: 	#ED1C40;

.navbar-primary {

  background-color: $navbar-bgcolor;
  color: #FFFFFF;

  display: flex;
  justify-content: space-between;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .subnav-left > ul {
    display: flex;
    flex-flow: row wrap;
  }

  .subnav-right > ul {
    display: flex;
    flex-row: row wrap;
  }

  .nav-item-link {
    display: block;
    padding: 20px 15px 20px 15px;
    &:hover { background-color: $accent-color; }
  }

}
