$navbar-bgcolor: #DC143C;
$accent-color: 	#ED1C40;

.navbar-primary {
  background-color: $navbar-bgcolor;
  color: #FFFFFF;

  // Navbar child container.
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
   }

  // Navbar item.
  .nav-item {
    padding: 20px 15px 20px 15px;
  }

  // Navbar item link.
  .nav-item-link:hover {
    background-color: $accent-color;
  }

  .brand {
    padding-left: 15px;
  }

}
