.widget-newrecipe {

  // Container for displaying ingredients and uploader side by side.
  .container-ingredients-uploader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  // Ingredients limited to 50% of width.
  .container-recipe-ingredients {
    flex: 1 0 50%;
    padding-right: 5px;

    // Custom margins on <input type="text"/>.
    input[type='text'] {
      margin: 0;        // Reset margins.
      margin-top: 3px;  // Spacing between <input/>'s.

      // Different spacing for first <input/>
      &:first-child { margin-top: 2px; }
    }
  }

  // Image uploader limited to 50% of width.
  .container-recipe-uploader {
    flex: 1 0 50%;
    padding-left: 5px;
  }

  // Move recipe image below ingredients if screen width is below 625px;
  @media (max-width: 625px) {
    .container-ingredients-uploader {
      flex-flow: column nowrap;
    }

    // Ingredients is full width.
    .container-ingredients {
      flex: 1 0 100%;
      padding-right: 0px;
    }

    // Image uploader is full width.
    .container-recipe-uploader {
      flex: 1 0 100%;
      padding-left: 0px;
    }
  }

  // Recipe preparation instructions.
  .container-recipe-instructions {
    // Custom margins on <input type="text"/>.
    textarea {
      display: block;  // Force block element to remove bottom margin.
      resize: none;    // Disable resize.
      margin: 0px;     // Reset margins.
      margin-top: 3px; // Spacing between <textarea/>
    }
  }
}
