@mixin box-sizing($value) {
  -moz-box-sizing: $value;
  -webkit-box-sizing: $value;
  box-sizing: $value;
}

.form-newrecipe-widget {

  // Form is a flexbox container.
  display: flex;
  flex-direction: column;

  .input-group {
    flex-grow: 1;
    margin-bottom: 25px;
  }

  .ingredients-group {
    margin: 25px 0 25px 0;
  }

  .instructions-group {
    margin: 0 0 25px 0;
  }

  .btn-group-plusminus {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    button { flex: 1 1 50%; }
  }

  .input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    @include box-sizing(border-box);
  }

  .input-textarea {
    width: 100%;
    border: solid 1px #D3D3D3;
    overflow: auto;
    padding: 10px;
    font-size: 1rem;
    @include box-sizing(border-box);
  }

  .btn {
    height: 30px;
    font-size: 0.9em;
    @include box-sizing(border-box);
  }

  .btn-submit {
    border: none;
    background-color: #DC143C;
    color: #FFFFFF;
    height: 50px;
  }

  .btn-add-remove {
    border: solid 1px #D3D3D3;
    background-color: #FFFFFF;
    color: #000000;
    margin-bottom: 2px;
  }

  // Remove left and right margins on the Add/Remove buttons, respectively.
  .btn-group-plusminus {
    button:nth-child(1) { margin-left: 0;}
    button:nth-child(2) { margin-right: 0; }
  }

}
