@mixin box-sizing($value) {
  -moz-box-sizing: $value;
  -webkit-box-sizing: $value;
  box-sizing: $value;
}

.form-signup-widget {

  // Form is a flexbox container.
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;

  .input-group {
    flex-grow: 1;
    margin-bottom: 25px;
  }

  .input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    @include box-sizing(border-box);
  }

  .btn {
    height: 30px;
    font-size: 0.9em;
    @include box-sizing(border-box);
  }

  .btn-submit {
    border: none;
    background-color: #DC143C;
    color: #FFFFFF;
  }

}
