.widget-viewrecipe {

  // Ingredients and Image on same line.
  .flexcontainer-ingredients-image {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  // Ingredients container max width of 50%;
  .container-ingredients {
    flex: 1 0 50%;
    padding-right: 5px;
  }

  // Image container max width of 50%;
  .container-image {
    flex: 1 0 50%;
    padding-left: 5px;

    // Limit image dimensions.
    img {
      max-width: 100%;    // Limit width.
      max-height: 300px;  // Limit height.
    }
  }

  // Move recipe image below ingredients if screen width is below 625px;
  @media (max-width: 625px) {
    .flexcontainer-ingredients-image {
      flex-flow: column nowrap;
    }

    // Ingredients is full width.
    .container-ingredients {
      flex: 1 0 100%;
      padding-right: 0px;
    }

    // Image is full width.
    .container-image {
      flex: 1 0 100%;
      padding-left: 0px;
    }
  }

}
