.widget-viewrecipe {

  // List item spacing.
  li { padding-top: 15px; }

  // Recipe tagline.
  .container-recipe-tagline {
    font-style: italic;
  }

  // Ingredients and Image on same line.
  .container-ingredients-image {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  // Ingredients container max width of 50%;
  .container-recipe-ingredients {
    flex: 1 0 50%;
    padding-right: 5px;

    // List styling.
    ul { margin: 0; }; // No margins.
  }

  // Image container max width of 50%;
  .container-recipe-image {
    flex: 1 0 50%;
    padding-left: 5px;
  }

  // Move recipe image below ingredients if screen width is below 625px;
  @media (max-width: 625px) {
    .container-ingredients-image {
      flex-flow: column nowrap;
    }

    // Ingredients is full width.
    .container-recipe-ingredients {
      flex: 1 0 100%;
      padding-right: 0px;
    }

    // Image is full width.
    .container-recipe-image {
      flex: 1 0 100%;
      padding-left: 0px;
    }
  }

  // Preparation instructions.
  .container-recipe-instructions {
    // List styling.
    ol { margin: 0; }; // No margins.
  }

}
