// Remove excess whitespace around <body>.
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.cursor-hand {
  cursor: pointer;
}

// Remove ugly default hyperlink styling.
a {
  color: inherit;
  text-decoration: none;
}

// Navigation bar styles.
@import '_NavBar';

// Alertbox styles.
@import '_AlertBox';

.btn-group-plusminus {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  button { flex: 1; }
}

// Remove header spacing, and make font normal.
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

// Center text.
.text-center {
  text-align: center;
}

// Faint shadow.
.shadow {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

// Box component.
.box {
  margin: 5px;
  padding: 15px;
}

// Page container
.container-page {
  padding: 10px;
}

@mixin box-sizing($value) {
  -moz-box-sizing: $value;
  -webkit-box-sizing: $value;
  box-sizing: $value;
}

.hidden {
  display: none;
}

.width-100 {
  width: 100%;
}

form {

  // Form is a flexbox container.
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;

  .input-group {
    flex-grow: 1;
  }

  .ingredients-group {
    margin: 25px 0 25px 0;
  }

  .instructions-group {
    margin: 0 0 25px 0;
  }

  .input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    @include box-sizing(border-box);
  }

  .btn {
    height: 30px;
    font-size: 0.9em;
    @include box-sizing(border-box);
  }

  .btn-submit {
    border: none;
    background-color: #DC143C;
    color: #FFFFFF;
  }

  .btn-add-remove {
    border: solid 1px #D3D3D3;
    background-color: #FFFFFF;
    color: #000000;
    margin-bottom: 2px;
  }

  // Remove left and right margins on the Add/Remove buttons, respectively.
  .btn-group-plusminus {
    button:nth-child(1) { margin-left: 0;}
    button:nth-child(2) { margin-right: 0; }
  }

}
